<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{description}}">
    <meta name="google-site-verification" content="1XFsrJ6ht6FZhD4gvkwYzTjFhQSo7ymgGxr0xouNV9s">
    <title>{{ title }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=2">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=2">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=2">
    <link rel="manifest" href="/site.webmanifest?v=2">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=2" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico?v=2">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/navbar.css">
    <link rel="stylesheet" href="/style/dots.css">
    <link rel="stylesheet" href="/style/{{ page.fileSlug or "index" }}.css">
    <link rel="stylesheet" href="/style/footer.css">
    <script src="https://kit.fontawesome.com/9cfc87b7f3.js" crossorigin="anonymous"></script>

    {% if page.fileSlug == "" %}    
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "NGO",
                "image": "https://smmun.com/assets/img/images/greeting.webp",
                "url": "https://smmun.com",
                "logo": "https://smmun.com/assets/img/logos/smmun_deg.webp",
                "name": "SMMUN",
                "description": "El Modelo de Naciones Unidas de soñadores, estrellas y líderes.",
                "email": "secretariageneral@smmun.com"
            }      
        </script>
    {% endif %}

    {% include "preloads.njk" %}
</head>
<body>
    {% include "navbar.njk" %}

    {% include "dots.njk" %}

    <main>
        {{ content | safe }}
    </main>

    {% if page.fileSlug == "" %}
        {% include "footer.njk" %}
    {% else %}
        <!-- Copyright footer -->
        <footer id="normal-footer">
            &copy; 2024 SMMUN
        </footer>
    {% endif %}

    <!-- Scripts -->
    <script src="/scripts/navbar.js"></script>
    <script src="/scripts/dots.js"></script>

    {% if uses_js %}
        <script src="/scripts/{{ page.fileSlug or "index" }}.js"></script>
    {% endif %}
</body>
</html>
