<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ description }}">
    <meta name="google-site-verification" content="1XFsrJ6ht6FZhD4gvkwYzTjFhQSo7ymgGxr0xouNV9s">
    <meta name="yandex-verification" content="603a40c50ed97d75">
    <title>{{ title }}</title>
    <link rel="canonical" href="{{ site.url }}{{ page.url | url }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:image" content="https://smmun.com/assets/img/images/greeting.webp">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:site_name" content="SMMUN">

    {% if uses_bootstrap %}
        <link rel="stylesheet" href="/style/bootstrap.min.css">
        <link rel="stylesheet" href="/style/bootstrap-select.min.css">
    {% endif %}

    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/navbar.css">
    <link rel="stylesheet" href="/style/dots.css">
    <link rel="stylesheet" href="/style/{{ page.fileSlug | fixFileSlug }}.css">
    <link rel="stylesheet" href="/style/footer.css">
    <link rel="stylesheet" href="/style/fontawesome.min.css">

    {% if page.fileSlug | fixFileSlug == "index" %}    
        <script type="application/ld+json">
            {
                "@context" : "https://schema.org",
                "@type" : "WebSite",
                "name" : "SMMUN",
                "url" : "https://smmun.com/"
            }
        </script>

        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "EducationalOrganization",
                "image": "https://smmun.com/assets/img/images/greeting.webp",
                "url": "https://smmun.com/",
                "logo": "https://smmun.com/assets/img/logos/smmun_deg.webp",
                "name": "SMMUN",
                "description": "El Modelo de Naciones Unidas de soñadores, estrellas y líderes.",
                "email": "secretariageneral@smmun.com"
            }
        </script>

        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "Event",
                "name": "Modelo de Naciones Unidas del Sureste Mexicano",
                "startDate": "2025-04-01",
                "endDate": "2025-04-05",
                "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
                "eventStatus": "https://schema.org/EventScheduled",
                "location": {
                    "@type": "Place",
                    "name": "Campus De Ciencias Sociales, Económicas-Administrativas y Humanidades UADY",
                    "address": {
                        "@type": "PostalAddress",
                        "streetAddress": "Km. 1 Carretera Mérida-Tizimín",
                        "addressLocality": "Mérida",
                        "postalCode": "97305",
                        "addressRegion": "Yucatán",
                        "addressCountry": "México"
                    }
                },
                "image": [
                    "https://smmun.com/assets/img/ediciones/2024/img3.webp",
                    "https://smmun.com/assets/img/ediciones/2023/img3.webp",
                    "https://smmun.com/assets/img/ediciones/2023/img2.webp"
                ],
                "description": "La Décima Edición del Modelo de Naciones Unidas de soñadores, estrellas y líderes.",
                "offers": {
                    "@type": "Offer",
                    "url": "https://smmun.com/registro-delegaciones/"
                },
                "organizer": {
                    "@type": "EducationalOrganization",
                    "name": "SMMUN",
                    "url": "https://smmun.com/"
                }
            }
        </script>
    {% endif %}

    {% include "preloads.njk" %}

    <script>
        // Fixes Firefox FOUC - see https://stackoverflow.com/questions/21147149/flash-of-unstyled-content-fouc-in-firefox-only-is-ff-slow-renderer
        let FF_FOUC_FIX;
    </script>
</head>
<body>
    {% include "navbar.njk" %}

    {% include "dots.njk" %}

    <main>
        {{ content | safe }}
    </main>

    {% if page.fileSlug | fixFileSlug == "index" %}
        {% include "footer.njk" %}
    {% else %}
        <!-- Copyright footer -->
        <footer id="normal-footer">
            &copy; 2024 SMMUN
        </footer>
    {% endif %}

    <!-- Scripts -->
    <script src="/scripts/navbar.js"></script>
    <script src="/scripts/dots.js"></script>

    {% if uses_bootstrap %}
        <script src="/scripts/popper.min.js"></script>
        <script src="/scripts/bootstrap.min.js"></script>
        <script src="/scripts/jquery.min.js"></script>
        <script src="/scripts/bootstrap-select.js"></script>
    {% endif %}

    {% if uses_js %}
        <script src="/scripts/{{ page.fileSlug | fixFileSlug }}.js"></script>
    {% endif %}
</body>
</html>
