<!-- Extended footer -->
<footer id="extended-footer">
    <!-- Logo and name -->
    <div id="logo-name">
        <figure>
            <img src="/assets/img/logos/smmun_dorado.webp" width="2000" height="1787" alt="Logo del SMMUN.">
        </figure>
        <p>
            Modelo de Naciones Unidas del Sureste Mexicano
        </p>
    </div>

    <!-- Email addresses and social media -->
    <div id="contact-info">
        <div id="contact-email">
            <span id="email-title">¡Contáctanos!</span>
            <ul id="email-list">
                <li><a href="mailto:secretariageneral@smmun.com">secretariageneral@smmun.com</a></li>
                <li><a href="mailto:contacto@smmun.com">contacto@smmun.com</a></li>
                <li><a href="mailto:secretariadefinanzas@smmun.com">secretariadefinanzas@smmun.com</a></li>
                <li>Para más contactos: <a target="_blank" rel="noopener noreferrer" href="https://bit.ly/4bHj52i">https://bit.ly/4bHj52i</a></li>
            </ul>
        </div>
        <div id="social-media">
            <span id="social-title">¡Síguenos en nuestras redes sociales!</span>
            <p id="social-icons">
                <a target="_blank" rel="noopener noreferrer" href="https://instagram.com/smmunoficial" aria-label="Instagram"><i class="fa-brands fa-instagram fa-xl"></i></a>
                <a target="_blank" rel="noopener noreferrer" href="https://facebook.com/smmunoficial" aria-label="Facebook"><i class="fa-brands fa-facebook fa-xl"></i></a>
            </p>
        </div>
    </div>
</footer>
