<!-- Navbars -->
<header>
    <!-- Desktop navbar -->
    <nav id="navbar">
        <a class="navbar-logo" href="/">
            <figure>
                {% if page.fileSlug | fixFileSlug == "index" %}
                    <img src="/assets/img/logos/smmun_dorado.webp" width="2000" height="1787" alt="Logo del SMMUN.">
                {% else %}
                    <img src="/assets/img/logos/smmun_deg.webp" width="1000" height="894" alt="Logo del SMMUN.">
                {% endif %}
            </figure>
        </a>
        <a href="/" id="index-button" class="button {{ "inactive-button" if page.fileSlug | fixFileSlug != "index" else "" }}">
            Inicio
        </a>
        <a href="/quienes-somos" class="button {{ "inactive-button" if page.fileSlug | fixFileSlug != "quienes-somos" else "" }}">
            ¿Quiénes somos?
        </a>
        <!-- <a href="/alianzas" class="button { {"inactive-button" if page.fileSlug | fixFileSlug != "alianzas" else "" }}">
            Alianzas
        </a> -->
        <a href="/registro" class="button {{ "inactive-button" if page.fileSlug | fixFileSlug != "registro" else "" }}">
            Registro
        </a>
        <a href="/recursos" class="button {{ "inactive-button" if page.fileSlug | fixFileSlug != "recursos" else "" }}">
            Recursos
        </a>
    </nav>
    <!-- Mobile / small screen navbar -->
    <nav id="navbar-mobile">
        <a href="/">
            <figure class="navbar-logo">
                <!-- Load gold icon for index, deg for others -->
                {% if page.fileSlug | fixFileSlug == "index" %}
                    <img src="/assets/img/logos/smmun_dorado.webp" width="2000" height="1787" alt="Logo del SMMUN.">
                {% else %}
                    <img src="/assets/img/logos/smmun_deg.webp" width="1000" height="894" alt="Logo del SMMUN.">
                {% endif %}
            </figure>
        </a>
        <ul id="nav-menu" style="box-shadow: 0px 0px 5px 2px {{ nav_color_mobile }};">
            <li class="nav-item">
                <a href="/" style="color: {{ nav_color_mobile }};">Inicio</a>
            </li>
            <li class="nav-item">
                <a href="/quienes-somos" style="color: {{ nav_color_mobile }};">¿Quiénes somos?</a>
            </li>
            <!-- <li class="nav-item">
                <a href="/alianzas" style="color: {{ nav_color_mobile }};">Alianzas</a>
            </li> -->
            <li class="nav-item">
                <a href="/registro" style="color: {{ nav_color_mobile }};">Registro</a>
            </li>
            <li class="nav-item">
                <a href="/recursos" style="color: {{ nav_color_mobile }};">Recursos</a>
            </li>
        </ul>
        <div id="hamburger">
            <span class="bar" style="background-color: {{ nav_color_mobile }};"></span>
            <span class="bar" style="background-color: {{ nav_color_mobile }};"></span>
            <span class="bar" style="background-color: {{ nav_color_mobile }};"></span>
        </div>
    </nav>
</header>
