<!-- Preload images -->
{% if page.fileSlug == "" %}
    <link rel="preload" as="image" href="/assets/img/images/greeting.webp">
    <link rel="preload" as="image" href="/assets/img/logos/smmun_dorado.webp">
    <link rel="preload" as="image" href="/assets/img/logos/smmun_morado.webp">
{% else %}
    <link rel="preload" as="image" href="/assets/img/logos/smmun_deg.webp">
{% endif %}

<!-- Preload fonts -->
<link rel="preload" href="/assets/fonts/GlacialIndifference-Bold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/GlacialIndifference-Italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/GlacialIndifference-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/TheSeasons-Bold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/TheSeasons-Regular.woff2" as="font" type="font/woff2" crossorigin>
