#model-edition {
    background-image: url("../assets/img/blue_bg_dark.webp");
    background-repeat: repeat;
    background-size: cover;
    margin: 2vh 0 0 0;
    padding: 3.5vh 0 4vh 0;
    color: #fffdfd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "The Seasons Regular";
}

#model-edition span {
    padding: 0.5vh 3vw;
}

#model-year {
    font-size: 2.8rem;
}

#model-name {
    font-size: 1.9rem;
}
