#model-edition {
    background-image: url("/assets/img/backgrounds/blue_bg_dark.webp");
    background-repeat: repeat;
    background-size: cover;
    margin: 2vh 0 0 0;
    padding: 3.5vh 0 2vh 0;
    color: #fffdfd;
    font-family: "The Seasons Regular";
}

#model-edition h1 {
    margin: 0;
    font-weight: normal;
    padding: 0.5vh 3vw;
}

#model-year {
    font-size: 2.8rem;
}

#model-name {
    font-size: 1.9rem;
}

#quienes-somos {
    font-family: "Glacial Indifference Bold";
    font-size: 1.5rem;
    margin: 2.5vh 0 2.5vh 5vw;
    font-weight: normal;
}

#fotos-2024 {
    margin: 0;
}

#fotos-2024 img {
    width: 100%;
}

.info-div {
    margin: 2vh 0 0 0;
    padding: 3.5vh 0 2.5vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.info-title {
    font-family: "Glacial Indifference Bold";
    font-size: 1.5rem;
    margin-bottom: 2vh;
    margin-top: 0;
    font-weight: normal;
}

.info-text {
    font-family: "Glacial Indifference Regular";
    font-size: 1rem;
    padding: 0 5vw;
    margin: 0;
}

#smmun-info {
    background-color: #95b897;
    color: #576b58;
}

#mun-info {
    background-image: url("/assets/img/images/un_flag.webp");
    color: #3e4176;
}

#un-info {
    background-image: url("/assets/img/images/un_building.webp");
    color: #3e4176;
}

#sm-2025-info {
    background-image: url("/assets/img/editions/2025/bg.webp");
    color: #fffdfd;
}

.info-images {
    margin: 2.5vh 10vw 0 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.info-images figure {
    width: 100%;
    margin: 0;
}

.info-images img {
    width: 90%;
}
