#titulo-carta {
    background-color: #042654;
    padding: 3.5vh 0 2vh 0;
    color: #fffdfd;
    font-family: "The Seasons Regular";
    font-size: 2.5rem;
}

#titulo-carta h1 {
    margin: 0;
    font-weight: normal;
    padding: 0.5vh 9vw;
}

#texto-carta {
    font-family: "Glacial Indifference Regular";
    font-size: 1rem;
    color: #000000;
    padding: 0 20vw 0 9vw;
    text-align: justify;
}

#texto-carta strong {
    font-weight: normal;
    font-family: "Glacial Indifference Bold";
}

#texto-carta .center {
    display: block;
    text-align: center;
}

#texto-carta .blue {
    color: #042654;
}

#texto-carta .green {
    color: #95b897;
}

#texto-carta .purple {
    color: #8b59d6;
}

#bienvenidas {
    font-size: 1.2rem;
}

#comite-organizador {
    font-size: 0.9rem;
}
