@font-face {
    font-family: "Glacial Indifference Regular";
    src: url("/assets/fonts/GlacialIndifference-Regular.woff2");
}

@font-face {
    font-family: "Glacial Indifference Italic";
    src: url("/assets/fonts/GlacialIndifference-Italic.woff2");
}

@font-face {
    font-family: "Glacial Indifference Bold";
    src: url("/assets/fonts/GlacialIndifference-Bold.woff2");
}

@font-face {
    font-family: "The Seasons Regular";
    src: url("/assets/fonts/TheSeasons-Regular.woff2");
}

@font-face {
    font-family: "The Seasons Bold";
    src: url("/assets/fonts/TheSeasons-Bold.woff2");
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: min(clamp(0.75rem, 1.5vw + 0.1875rem, 1.5rem), 2.5vh);
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/assets/img/backgrounds/bg.webp");
    background-repeat: repeat;
    background-size: cover;
}

@media screen and (min-width: 820px) {
    body {
        margin-top: 13.5vh;
    }
}

@media screen and (max-width: 820px) {
    body {
        margin-top: 8vh;
    }
}

footer {
    font-family: "Glacial Indifference Bold";
    font-size: 0.6rem;
    color: #042654;
    text-align: center;
    margin: 2vh 0 1vh 0;
}
