---
title: "Alianzas - SMMUN"
description: "¡La unión hace la fuerza! Conoce a los organismos y Modelos con los que nos hemos aliado."
layout: "base.njk"
nav_color_mobile: "#6f75d5"
---

<section id="alianzas-section">
    <!-- Alliances -->
    <article id="alianzas-info">
        <h1>Alianzas:</h1>
        <p>
            Un Modelo de Naciones Unidas es una simulación o representación del Sistema de Naciones Unidas en el que participan alumnos de escuelas secundarias, preparatorias o universidades. Los alumnos representan a los delegados de diferentes países e intervienen en debates y negociaciones en los que tratan temas que corresponden a los programas de trabajo de los diferentes órganos y comisiones de las Naciones Unidas.
            <br>
            <br>
            Un Modelo de Naciones Unidas es una simulación o representación del Sistema de Naciones Unidas en el que participan alumnos de escuelas secundarias, preparatorias o universidades. Los alumnos representan a los delegados de diferentes países e intervienen en debates y negociaciones en los que tratan temas que corresponden a los programas de trabajo de los diferentes órganos y comisiones de las Naciones Unidas.
            <br>
            <br>
            Un Modelo de Naciones Unidas es una simulación o representación del Sistema de Naciones Unidas en el que participan alumnos de escuelas secundarias, preparatorias o universidades. Los alumnos representan a los delegados de diferentes países e intervienen en debates y negociaciones en los que tratan temas que corresponden a los programas de trabajo de los diferentes órganos y comisiones de las Naciones Unidas.
        </p>
    </article>

    <!-- Partner logos -->
    <article id="alianzas-logos">
        <figure>
            <img src="/assets/img/partners/logo1.webp" width="1024" height="1024" alt="">
        </figure>
        <figure>
            <img src="/assets/img/partners/logo2.webp" width="1024" height="1024" alt="">
        </figure>
        <figure>
            <img src="/assets/img/partners/logo3.webp" width="1024" height="1024" alt="">
        </figure>
        <figure>
            <img src="/assets/img/partners/logo4.webp" width="1024" height="1024" alt="">
        </figure>
    </article>
</section>
