---
title: "SMMUN"
layout: "base.njk"
not_include_footer: true
uses_js: true
---

<!-- Home section -->
<section id="home">
    <!-- SMMUN edition name and background -->
    <div id="greeting">
        <div id="greeting-sub">
            <picture id="smmun-dorado">
                <img src="/assets/img/smmun_dorado.webp" alt="">
            </picture>
            <div id="legado-de-lideres">
                | Legado de Líderes
            </div>
            <div id="modelo-de-naciones-unidas">
                Modelo de Naciones Unidas del Sureste Mexicano
            </div>
        </div>
    </div>
    <!-- Green section -->
    <div id="modelo-de-sonadores">
        <span id="sonadores-1">
            Somos el Modelo de Naciones Unidas
        </span>
        <div>
            <span id="sonadores-2-regular">
                de
            </span>
            <span id="sonadores-2-italic">
                soñadores, estrellas y líderes
            </span>
        </div>
    </div>
    <!-- Marquee with name and logo -->
    <div id="sm-marquee">
        <div class="sm-marquee-wrapper">
            <p>SMMUN 2025 De soñadores en acción, para líderes con pasión</p>
            <img src="/assets/img/smmun_morado.webp" alt="">
        </div>
        <div class="sm-marquee-wrapper">
            <p>SMMUN 2025 De soñadores en acción, para líderes con pasión</p>
            <img src="/assets/img/smmun_morado.webp" alt="">
            </div>
        <div class="sm-marquee-wrapper">
            <p>SMMUN 2025 De soñadores en acción, para líderes con pasión</p>
            <img src="/assets/img/smmun_morado.webp" alt="">
        </div>
        <div class="sm-marquee-wrapper">
            <p>SMMUN 2025 De soñadores en acción, para líderes con pasión</p>
            <img src="/assets/img/smmun_morado.webp" alt="">
        </div>
        <div class="sm-marquee-wrapper">
            <p>SMMUN 2025 De soñadores en acción, para líderes con pasión</p>
            <img src="/assets/img/smmun_morado.webp" alt="">
        </div>
    </div>
</section>
<!-- Social media section -->
<section id="social-media">
    <!-- Instagram feed module using behold -->
    <div id="insta-feed">
        <div>
            <div data-behold-id="Cj9y7jXZhXrNjkJj2O91"></div>
        </div>
    </div>
    <!-- To be continued... -->
    <div id="info-prox">
        <span id="info-prox-1">
            MÁS INFORMACIÓN PROXIMAMENTE
        </span>
        <span id="info-prox-2">
            Te invitamos a estar pendiente de nuestras redes sociales:
        </span>
        <span id="info-prox-3">
            Instagram: <a target="_blank" rel="noopener noreferrer" href="https://instagram.com/smmunoficial">@smmunoficial</a> <br>
            Facebook: <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/smmunoficial">SMMUN</a>
        </span>
    </div>

    <!-- Footer inside section to use blue bg -->
    {% include "footer.njk" %}
</section>
