---
title: "SMMUN"
layout: "base.njk"
uses_js: true
---

<!-- Home section -->
<section id="home">
    <!-- SMMUN edition name and background -->
    <article id="greeting">
        <div id="greeting-sub">
            <figure id="smmun-dorado">
                <img src="/assets/img/logos/smmun_dorado.webp" alt="">
            </figure>

            <h1 id="legado-de-lideres">
                | Legado de Líderes
            </h1>

            <h1 id="modelo-de-naciones-unidas">
                Modelo de Naciones Unidas del Sureste Mexicano
            </h1>
        </div>
    </article>

    <!-- Green section -->
    <article id="modelo-de-sonadores">
        <h2>
            <span id="sonadores-1">Somos el Modelo de Naciones Unidas</span> <br>
            <span id="sonadores-2-regular">de</span> <span id="sonadores-2-italic">soñadores, estrellas y líderes</span>
        </h2>
    </article>

    <!-- Marquee with name and logo -->
    <article id="sm-marquee">
        <div class="sm-marquee-wrapper">
            <p>SMMUN 2025 De soñadores en acción, para líderes con pasión</p>
            <img src="/assets/img/logos/smmun_morado.webp" alt="">
        </div>

        <div class="sm-marquee-wrapper">
            <p>SMMUN 2025 De soñadores en acción, para líderes con pasión</p>
            <img src="/assets/img/logos/smmun_morado.webp" alt="">
        </div>

        <div class="sm-marquee-wrapper">
            <p>SMMUN 2025 De soñadores en acción, para líderes con pasión</p>
            <img src="/assets/img/logos/smmun_morado.webp" alt="">
        </div>

        <div class="sm-marquee-wrapper">
            <p>SMMUN 2025 De soñadores en acción, para líderes con pasión</p>
            <img src="/assets/img/logos/smmun_morado.webp" alt="">
        </div>

        <div class="sm-marquee-wrapper">
            <p>SMMUN 2025 De soñadores en acción, para líderes con pasión</p>
            <img src="/assets/img/logos/smmun_morado.webp" alt="">
        </div>
    </article>
</section>

<!-- Social media section -->
<section id="social-media">
    <!-- Instagram feed module using behold -->
    <article id="insta-feed">
        <div>
            <div data-behold-id="Cj9y7jXZhXrNjkJj2O91"></div>
        </div>
    </article>

    <!-- To be continued... -->
    <article id="info-prox">
        <p id="info-prox-1">
            MÁS INFORMACIÓN PROXIMAMENTE
        </p>

        <p id="info-prox-2">
            Te invitamos a estar pendiente de nuestras redes sociales:
        </p>

        <p id="info-prox-3">
            Instagram: <a target="_blank" rel="noopener noreferrer" href="https://instagram.com/smmunoficial">@smmunoficial</a> <br>
            Facebook: <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/smmunoficial">SMMUN</a>
        </p>
    </article>
</section>
