---
title: "SMMUN"
description: "¡Bienvenidx al SMMUN! El modelo de soñadores que comparte el espíritu de dejar huella en cada espacio del que somos parte, el lugar que busca celebrar la gran trayectoria de las diversas generaciones que año tras año, son la voz del cambio, la acción y la trascendencia."
layout: "base.njk"
uses_js: true
---

<!-- Instagram feed script -->
<script type="module" src="https://w.behold.so/widget.js"></script>

<!-- Home section -->
<section id="home">
    <!-- SMMUN edition name and background -->
    <article id="greeting">
        <div id="greeting-sub">
            <figure id="smmun-dorado">
                <img src="/assets/img/logos/smmun_dorado.webp" width="2000" height="1787" alt="Logo del SMMUN.">
            </figure>

            <div aria-label="Legado de Líderes: Modelo de Naciones Unidas del Sureste Mexicano">
                <h1 id="legado-de-lideres" aria-hidden="true">
                    | Legado de Líderes
                </h1>

                <h2 id="modelo-de-naciones-unidas" aria-hidden="true">
                    Modelo de Naciones Unidas del Sureste Mexicano
                </h2>
            </div>
        </div>
    </article>

    <!-- Green section -->
    <article id="modelo-de-sonadores">
        <h2>
            <span id="sonadores-1">Somos el Modelo de Naciones Unidas</span> <br>
            <span id="sonadores-2-regular">de</span> <span id="sonadores-2-italic">soñadores, estrellas y líderes</span>
        </h2>
    </article>

    <!-- Marquee with name and logo -->
    <article id="sm-marquee" aria-hidden="true">
        <div class="sm-marquee-wrapper">
            <p>SMMUN 2025; De soñadores en acción, para líderes con pasión</p>
            <img src="/assets/img/logos/smmun_morado.webp" width="882" height="756" alt="">
        </div>

        <div class="sm-marquee-wrapper">
            <p>SMMUN 2025; De soñadores en acción, para líderes con pasión</p>
            <img src="/assets/img/logos/smmun_morado.webp" width="882" height="756" alt="">
        </div>

        <div class="sm-marquee-wrapper">
            <p>SMMUN 2025; De soñadores en acción, para líderes con pasión</p>
            <img src="/assets/img/logos/smmun_morado.webp" width="882" height="756" alt="">
        </div>

        <div class="sm-marquee-wrapper">
            <p>SMMUN 2025; De soñadores en acción, para líderes con pasión</p>
            <img src="/assets/img/logos/smmun_morado.webp" width="882" height="756" alt="">
        </div>

        <div class="sm-marquee-wrapper">
            <p>SMMUN 2025; De soñadores en acción, para líderes con pasión</p>
            <img src="/assets/img/logos/smmun_morado.webp" width="882" height="756" alt="">
        </div>
    </article>
</section>

<!-- Instagram feed module using behold -->
<section id="insta-feed" aria-hidden="true">
    <div>
        <div data-behold-id="Cj9y7jXZhXrNjkJj2O91"></div>
    </div>
</section>

<!-- To be continued... -->
<section id="info-prox">
    <p>
        MÁS INFORMACIÓN PROXIMAMENTE...
    </p>
</section>
