---
title: "¿Quiénes somos? - SMMUN"
layout: "base.njk"
---

<div id="model-edition">
    <span id="model-year">
        SMMUN 2025
    </span>
    <span id="model-name">
        | El Modelo de Naciones Unidas del Sureste Mexicano
    </span>
</div>
