---
title: "¿Quiénes somos? - SMMUN"
layout: "base.njk"
---

<!-- Introduction -->
<section>
    <!-- Model title -->
    <article id="model-edition">
        <h1>
            <span id="model-year">SMMUN 2025 <br></span>
            <span id="model-name">| El Modelo de Naciones Unidas del Sureste Mexicano</span>
        </h1>
    </article>

    <h2 id="quienes-somos">
        ¿Quiénes somos?
    </h2>

    <!-- SMMUN kodak pictures -->
    <figure id="fotos-2024">
        <picture>
            <source media="(max-width: 820px)" srcset="/assets/img/images/img_strip_mob.webp">
            <img src="/assets/img/images/img_strip.webp" alt="">
        </picture>
    </figure>
</section>

<!-- MUN info -->
<section>
    <!-- SMMUN information -->
    <article class="info-div" id="smmun-info">
        <h3 class="info-title">
            ¿Qué es el Modelo de Naciones Unidas del Sureste Mexicano?
        </h3>
        <p class="info-text">
            El Modelo de las Naciones Unidas del Sureste Mexicano (o SMMUN por sus siglas en inglés) es un modelo de naciones hecho por y para jóvenes estudiantes con intereses en temas de derecho internacional, relaciones internacionales, derechos humanos y todo lo relacionado a la ONU. Tiene el propósito de otorgarle a las personas participantes una oportunidad para experimentar las sesiones de trabajo llevadas a cabo en las Naciones Unidas en la vida real, tratando temas de suma relevancia internacional, a la par que le permite a los participantes desarrollar habilidades de liderazgo, negociación, diplomacia, trabajo en equipo, investigación, entre otros.
            <br>
            <br>
            Tras el éxito de su primer año en 2016, se llevan a cabo las ediciones anuales del Modelo de Naciones Unidas del Sureste de México en Mérida, Yucatán. Todo estudiante de preparatoria o universidad entre los 15 y 25 años está invitado a participar en el evento que será el máximo representante del sentimiento juvenil de la Organización de las Naciones Unidas en el sureste de México.
        </p>
    </article>

    <!-- MUN information -->
    <article class="info-div" id="mun-info">
        <h3 class="info-title">
            ¿Qué es un MUN?
        </h3>
        <p class="info-text">
            Un Modelo de Naciones Unidas es una simulación o representación del Sistema de Naciones Unidas en el que participan alumnos de escuelas secundarias, preparatorias o universidades. Los alumnos representan a los delegados de diferentes países e intervienen en debates y negociaciones en los que tratan temas que corresponden a los programas de trabajo de los diferentes órganos y comisiones de las Naciones Unidas.
            <br>
            <br>
            Un Modelo es un evento educativo y cultural en el que los jóvenes que participan, además de capacitarse sobre temas de política internacional y sobre el funcionamiento de Naciones Unidas, adquieren una visión global del mundo en donde desarrollan sus vidas.
            Para resolver más dudas, puedes entrar a <a target="_blank" rel="noopener noreferrer" href="http://www.cinu.mx/modelos/preguntas-frecuentes/">este link</a> o contactarnos.
        </p>
    </article>

    <!-- UN information -->
    <article class="info-div" id="un-info">
        <h3 class="info-title">
            ¿Qué es la ONU?
        </h3>
        <p class="info-text">
            Un Modelo de Naciones Unidas es una simulación o representación del Sistema de Naciones Unidas en el que participan alumnos de escuelas secundarias, preparatorias o universidades. Los alumnos representan a los delegados de diferentes países e intervienen en debates y negociaciones en los que tratan temas que corresponden a los programas de trabajo de los diferentes órganos y comisiones de las Naciones Unidas.
            <br>
            <br>
            Un Modelo es un evento educativo y cultural en el que los jóvenes que participan, además de capacitarse sobre temas de política internacional y sobre el funcionamiento de Naciones Unidas, adquieren una visión global del mundo en donde desarrollan sus vidas.
            Para resolver más dudas, puedes entrar a <a target="_blank" rel="noopener noreferrer" href="http://www.cinu.mx/modelos/preguntas-frecuentes/">este link</a> o contactarnos.
        </p>
    </article>
</section>

<!-- SMMUN editions -->
<section>
    <!-- SMMUN 2025 -->
    <article class="info-div" id="sm-2025-info">
        <h3 class="info-title">
            SMMUN 2025; LEGADO DE LÍDERES
        </h3>
        <p class="info-text">
            ¡PRÓXIMAMENTE!
        </p>
    </article>

    <!-- SMMUN 2024 -->
    {% smmun_edition 2024, "FOR EQUALITY", "Un Modelo de Naciones Unidas es una simulación o representación del Sistema de Naciones Unidas en el que participan alumnos de escuelas secundarias, preparatorias o universidades. Los alumnos representan a los delegados de diferentes países e intervienen en debates y negociaciones en los que tratan temas que corresponden a los programas de trabajo de los diferentes órganos y comisiones de las Naciones Unidas." %}

    <!-- SMMUN 2023 -->
    {% smmun_edition 2023, "FOR DIVERSITY", "Un Modelo de Naciones Unidas es una simulación o representación del Sistema de Naciones Unidas en el que participan alumnos de escuelas secundarias, preparatorias o universidades. Los alumnos representan a los delegados de diferentes países e intervienen en debates y negociaciones en los que tratan temas que corresponden a los programas de trabajo de los diferentes órganos y comisiones de las Naciones Unidas." %}

    <!-- SMMUN 2022 -->
    {% smmun_edition 2022, "FOR YOUTH", "Un Modelo de Naciones Unidas es una simulación o representación del Sistema de Naciones Unidas en el que participan alumnos de escuelas secundarias, preparatorias o universidades. Los alumnos representan a los delegados de diferentes países e intervienen en debates y negociaciones en los que tratan temas que corresponden a los programas de trabajo de los diferentes órganos y comisiones de las Naciones Unidas." %}

    <!-- SMMUN 2021 -->
    {% smmun_edition 2021, "FOR HEALTH", "Un Modelo de Naciones Unidas es una simulación o representación del Sistema de Naciones Unidas en el que participan alumnos de escuelas secundarias, preparatorias o universidades. Los alumnos representan a los delegados de diferentes países e intervienen en debates y negociaciones en los que tratan temas que corresponden a los programas de trabajo de los diferentes órganos y comisiones de las Naciones Unidas." %}

    <!-- SMMUN 2020 -->
    {% smmun_edition 2020, "FOR WOMEN", "Un Modelo de Naciones Unidas es una simulación o representación del Sistema de Naciones Unidas en el que participan alumnos de escuelas secundarias, preparatorias o universidades. Los alumnos representan a los delegados de diferentes países e intervienen en debates y negociaciones en los que tratan temas que corresponden a los programas de trabajo de los diferentes órganos y comisiones de las Naciones Unidas." %}

    <!-- SMMUN 2019 -->
    {% smmun_edition 2019, "FOR PEACE", "Un Modelo de Naciones Unidas es una simulación o representación del Sistema de Naciones Unidas en el que participan alumnos de escuelas secundarias, preparatorias o universidades. Los alumnos representan a los delegados de diferentes países e intervienen en debates y negociaciones en los que tratan temas que corresponden a los programas de trabajo de los diferentes órganos y comisiones de las Naciones Unidas." %}

    <!-- SMMUN 2018 -->
    {% smmun_edition 2018, "FOR DEVELOPMENT", "Un Modelo de Naciones Unidas es una simulación o representación del Sistema de Naciones Unidas en el que participan alumnos de escuelas secundarias, preparatorias o universidades. Los alumnos representan a los delegados de diferentes países e intervienen en debates y negociaciones en los que tratan temas que corresponden a los programas de trabajo de los diferentes órganos y comisiones de las Naciones Unidas." %}

    <!-- SMMUN 2017 -->
    {% smmun_edition 2017, "FOR CHILDREN", "Un Modelo de Naciones Unidas es una simulación o representación del Sistema de Naciones Unidas en el que participan alumnos de escuelas secundarias, preparatorias o universidades. Los alumnos representan a los delegados de diferentes países e intervienen en debates y negociaciones en los que tratan temas que corresponden a los programas de trabajo de los diferentes órganos y comisiones de las Naciones Unidas." %}

    <!-- SMMUN 2016 -->
    {% smmun_edition 2016, "FOR EDUCATION", "Un Modelo de Naciones Unidas es una simulación o representación del Sistema de Naciones Unidas en el que participan alumnos de escuelas secundarias, preparatorias o universidades. Los alumnos representan a los delegados de diferentes países e intervienen en debates y negociaciones en los que tratan temas que corresponden a los programas de trabajo de los diferentes órganos y comisiones de las Naciones Unidas." %}
</section>
