---
title: "Registro - SMMUN"
description: "¡Forma parte del SMMUN! Regístrate en las distintas convocatorias que el SMMUN tiene para tí, y deja tu legado a donde sea que vayas."
layout: "base.njk"
---

<!-- Open convocatorias -->
<section>
    <!-- Title -->
    <article id="convocatorias-title">
        <div id="oval">
            <h1>
                Convocatorias
            </h1>
        </div>
    </article>

    <!-- Convocatorias -->
    <article id="convocatorias">
        <div class="convocatoria">
            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/p/C8m65QHOHDt">
                <figure>
                    <img src="/assets/img/convocatorias/mesas.webp" width="1024" height="1024" alt="Una Mesa Directiva.">
                </figure>
            </a>
            <h2><a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/p/C8m65QHOHDt">Mesas Directivas</a></h2>
            <p>Conoce a las personas seleccionadas para formar parte del cambio</p>
        </div>
        <div class="convocatoria">
            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/p/C8DWrlAMzl7">
                <figure>
                    <img src="/assets/img/convocatorias/internacional.webp" width="1024" height="1024" alt="Foto grupal del SMMUN en la embajada de México en Canadá.">
                </figure>
            </a>
            <h2><a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/p/C8DWrlAMzl7">Viaje Internacional</a></h2>
            <p>Conoce a las personas seleccionadas para vivir una experiencia internacional académica a través de los MUN</p>
        </div>
        <div class="convocatoria">
            <a target="_blank" rel="noopener noreferrer" href="https://instagram.com/smmunoficial">
                <figure>
                    <img src="/assets/img/convocatorias/nacional.webp" width="1024" height="1024" alt="Foto de una delegación del SMMUN en el auditorio.">
                </figure>
            </a>
            <h2><a target="_blank" rel="noopener noreferrer" href="https://instagram.com/smmunoficial">Viaje Nacional</a></h2>
            <p>Conoce a las personas seleccionadas para disfrutar de un MUN en otro estado</p>
        </div>
    </article>
</section>
