---
title: "Registro - SMMUN"
layout: "base.njk"
---

<!-- Open convocatorias -->
<section>
    <!-- Title -->
    <article id="convocatorias-title">
        <div id="oval">
            <h1>
                Convocatorias
            </h1>
        </div>
    </article>

    <!-- Convocatorias -->
    <article id="convocatorias">
        <div class="convocatoria">
            <a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1cYpjACoPSU97WbntG2mE5eiA65oNw-ul/view">
                <figure>
                    <img src="/assets/img/convocatorias/mesas.webp" alt="Una Mesa Directiva.">
                </figure>
            </a>
            <h2><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1cYpjACoPSU97WbntG2mE5eiA65oNw-ul/view">Mesas Directivas</a></h2>
            <p>Atrévete a ser parte del cambio</p>
        </div>
        <div class="convocatoria">
            <a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/drive/folders/1zlWl5ZQa9_G7LC_Wdo7kqnTuf3OPT5Zy">
                <figure>
                    <img src="/assets/img/convocatorias/internacional.webp" alt="Foto grupal del SMMUN en la embajada de México en Canadá.">
                </figure>
            </a>
            <h2><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/drive/folders/1zlWl5ZQa9_G7LC_Wdo7kqnTuf3OPT5Zy">Viaje Internacional</a></h2>
            <p>Se parte de una experiencia internacional académica a través de los MUN</p>
        </div>
        <div class="convocatoria">
            <a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/drive/folders/1T0I16pFUKl-mWkB8P2Py4ydIjmiylKy1">
                <figure>
                    <img src="/assets/img/convocatorias/nacional.webp" alt="Foto de una delegación del SMMUN en el auditorio.">
                </figure>
            </a>
            <h2><a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/drive/folders/1T0I16pFUKl-mWkB8P2Py4ydIjmiylKy1">Viaje Nacional</a></h2>
            <p>Disfruta una vivencia de un MUN en México destinado a personas de nivel preparatoria</p>
        </div>
    </article>
</section>
