<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{description}}">
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/navbar.css">
    <link rel="stylesheet" href="/style/dots.css">
    <link rel="stylesheet" href="/style/{{ page.fileSlug or "index" }}.css">
    <link rel="stylesheet" href="/style/footer.css">
    <script src="https://kit.fontawesome.com/9cfc87b7f3.js" crossorigin="anonymous"></script>

    {% include "preloads.njk" %}
</head>
<body>
    {% include "navbar.njk" %}

    {% include "dots.njk" %}

    <main>
        {{ content | safe }}
    </main>

    {% if page.fileSlug == "" %}
        {% include "footer.njk" %}
    {% else %}
        <!-- Copyright footer -->
        <footer id="normal-footer">
            &copy; 2024 SMMUN
        </footer>
    {% endif %}

    <!-- Scripts -->
    <script src="/scripts/navbar.js"></script>
    <script src="/scripts/dots.js"></script>

    {% if uses_js %}
        <script src="/scripts/{{ page.fileSlug or "index" }}.js"></script>
    {% endif %}
</body>
</html>
