<!-- Dot page progress indicator -->
<div id="dot-progress">
    <span class="dot" style="opacity: 50%;"></span>
    <span class="dot" style="opacity: 50%;"></span>
    <span class="dot" style="opacity: 50%;"></span>
    <span class="dot" style="opacity: 50%;"></span>
    <span class="dot" style="opacity: 50%;"></span>
</div>
