<!-- Dot page progress indicator -->
<aside id="dot-progress">
    <span class="dot" style="opacity: 50%;"></span>
    <span class="dot" style="opacity: 50%;"></span>
    <span class="dot" style="opacity: 50%;"></span>
    <span class="dot" style="opacity: 50%;"></span>
    <span class="dot" style="opacity: 50%;"></span>
</aside>
