<!-- Navbars -->
<header>
    <!-- Desktop navbar -->
    <nav id="navbar">
        <a class="navbar-logo" href="/">
            <figure>
                {% if page.fileSlug == "" %}
                    <img src="/assets/img/logos/smmun_dorado.webp" alt="Logo del SMMUN.">
                {% else %}
                    <img src="/assets/img/logos/smmun_deg.webp" alt="Logo del SMMUN.">
                {% endif %}
            </figure>
        </a>
        <a href="/" id="index-button" class="{{"inactive-button" if page.fileSlug != "" else "" }}">
            <button>Inicio</button>
        </a>
        <a href="/quienes-somos" class="{{"inactive-button" if page.fileSlug != "quienes-somos" else "" }}">
            <button>¿Quiénes somos?</button>
        </a>
        <!-- <a href="/alianzas" class="{{"inactive-button" if page.fileSlug != "alianzas" else "" }}">
            <button>Alianzas</button>
        </a> -->
        <a href="/registro" class="{{"inactive-button" if page.fileSlug != "registro" else "" }}">
            <button>Registro</button>
        </a>
        <a href="/recursos" class="{{"inactive-button" if page.fileSlug != "recursos" else "" }}">
            <button>Recursos</button>
        </a>
    </nav>
    <!-- Mobile / small screen navbar -->
    <nav id="navbar-mobile">
        <a href="/">
            <picture class="navbar-logo">
                <!-- Load gold icon for index, deg for others -->
                {% if page.fileSlug == "" %}
                    <img src="/assets/img/logos/smmun_dorado.webp" alt="Logo del SMMUN.">
                {% else %}
                    <img src="/assets/img/logos/smmun_deg.webp" alt="Logo del SMMUN.">
                {% endif %}
            </picture>
        </a>
        <ul id="nav-menu">
            <li class="nav-item">
                <a href="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a href="/quienes-somos">¿Quiénes somos?</a>
            </li>
            <!-- <li class="nav-item">
                <a href="/alianzas">Alianzas</a>
            </li> -->
            <li class="nav-item">
                <a href="/registro">Registro</a>
            </li>
            <li class="nav-item">
                <a href="/recursos">Recursos</a>
            </li>
        </ul>
        <div id="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>
