<!-- Preload images -->
{% if page.fileSlug == "" %}
    <link rel="preload" as="image" href="/assets/img/images/greeting.webp" imagesizes="100vw">
    <link rel="preload" as="image" href="/assets/img/logos/smmun_dorado.webp" imagesizes="30vh">
    <link rel="preload" as="image" href="/assets/img/logos/smmun_morado.webp" imagesizes="1.5rem">
{% else %}
    <link rel="preload" as="image" href="/assets/img/logos/smmun_deg.webp" imagesizes="30vh">
{% endif %}

<!-- Preload fonts -->
<link rel="preload" href="/assets/fonts/GlacialIndifference-Bold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/GlacialIndifference-Italic.otf" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/GlacialIndifference-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/TheSeasons-Bold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/TheSeasons-Regular.woff2" as="font" type="font/woff2" crossorigin>
