---
title: "¡Muchas gracias! - SMMUN"
description: "¡Nos vemos pronto!"
layout: "base.njk"
uses_js: true
nav_color_mobile: "#6f75d5cf"
---

<section id="section-muchas-gracias">
    <article id="muchas-gracias">
        <i id="checkmark" class="fa-solid fa-circle-check"></i>
        <h1>¡Muchas gracias!</h1>

        <p>
            <span>Te invitamos a estar pendiente de tu correo para recibir tu confirmación.</span>
            <span>En caso de tener alguna duda, puedes contactarnos a través de:</span>
            <span id="contacto">
                <i class="fa-brands fa-whatsapp"></i>&ensp;<strong>Correo:</strong> <a href="mailto:secretariadefinanzas.smmun@gmail.com">secretariadefinanzas.smmun@gmail.com</a>
                <br>
                <i class="fa-regular fa-envelope"></i>&ensp;<strong>WhatsApp:</strong> <a target="_blank" rel="noopener noreferrer" href="https://wa.me/529991975309?text=Hola%20%F0%9F%98%81,%20mi%20*nombre*%20es:%0A%0A*Tengo%20dudas%20sobre:*%0A%5B%5D%20%F0%9F%92%BC%20Modalidad%20de%20participaci%C3%B3n%0A%5B%5D%20%F0%9F%A4%9D%20Delegaci%C3%B3n%20oficial%0A%5B%5D%20%F0%9F%91%A4%20Datos%20personales%0A%5B%5D%20%F0%9F%8C%8E%20Comit%C3%A9s%20y/o%20pa%C3%ADses%0A%5B%5D%20%F0%9F%92%B3%20Proceso%20de%20pago%0A">+52 999 197 5309</a>
            </span>
        </p>
    </article>
</section>
