---
title: "Error - SMMUN"
description: "Hubo un error con tu inscripción."
layout: "base.njk"
nav_color_mobile: "#6f75d5cf"
---

<section id="section-error">
    <article id="error">
        <i id="cross" class="fa-solid fa-circle-xmark"></i>
        <h1>Hubo un error con tu inscripción</h1>

        <p>
            <span>Intenta de nuevo, y verifica que todos tus datos estén correctos.</span>
            <span>En caso de tener alguna duda, puedes contactarnos a través de:</span>
            <span id="contacto">
                <i class="fa-brands fa-whatsapp"></i>&ensp;<strong>Correo:</strong> <a href="mailto:secretariadefinanzas.smmun@gmail.com">secretariadefinanzas.smmun@gmail.com</a>
                <br>
                <i class="fa-regular fa-envelope"></i>&ensp;<strong>WhatsApp:</strong> <a target="_blank" rel="noopener noreferrer" href="https://wa.me/529991975309?text=Hola,%20tengo%20una%20duda%20sobre%20mi%20inscripci%C3%B3n%20al%20SMMUN.%0A%0A*Mis%20datos%20son:*%0ANombre:%0AComit%C3%A9%20elegido:%0APa%C3%ADs%20elegido:%0A">+52 999 197 5309</a>
            </span>
        </p>
    </article>
</section>
