---
title: "¿Quiénes somos? - SMMUN"
description: "¿Qué es el SMMUN? Acompáñanos en un viaje a través de las diez ediciones que ha tenido el Modelo, y conoce más sobre las Naciones Unidas y los MUNs."
layout: "base.njk"
nav_color_mobile: "#7872a1"
---

<!-- Introduction -->
<section>
    <!-- Model title -->
    <article id="model-edition">
        <h1>
            <span id="model-year">SMMUN 2025 <br></span>
            <span id="model-name">| El Modelo de Naciones Unidas del Sureste Mexicano</span>
        </h1>
    </article>

    <h2 id="quienes-somos">
        ¿Quiénes somos?
    </h2>

    <!-- SMMUN kodak pictures -->
    <figure id="fotos-2024">
        <picture>
            <source media="(min-width: 820px)" width="3783" height="593" srcset="/assets/img/images/img_strip.webp">
            <source media="(max-width: 820px)" width="1920" height="1186" srcset="/assets/img/images/img_strip_mob.webp">
            <img src="/assets/img/images/img_strip.webp" width="3783" height="593" alt="Fotos representativas de distintas ediciones del SMMUN.">
        </picture>
    </figure>
</section>

<!-- MUN info -->
<section>
    <!-- SMMUN information -->
    <article class="info-div" id="smmun-info">
        <h3 class="info-title">
            ¿Qué es el Modelo de Naciones Unidas del Sureste Mexicano?
        </h3>
        <p class="info-text">
            El Modelo de las Naciones Unidas del Sureste Mexicano (o SMMUN por sus siglas en inglés) es un modelo de naciones hecho por y para jóvenes estudiantes con intereses en temas de derecho internacional, relaciones internacionales, derechos humanos y todo lo relacionado a la ONU. Tiene el propósito de otorgarle a las personas participantes una oportunidad para experimentar las sesiones de trabajo llevadas a cabo en las Naciones Unidas en la vida real, tratando temas de suma relevancia internacional, a la par que le permite a los participantes desarrollar habilidades de liderazgo, negociación, diplomacia, trabajo en equipo, investigación, entre otros.
            <br>
            <br>
            Tras el éxito de su primer año en 2016, se llevan a cabo las ediciones anuales del Modelo de Naciones Unidas del Sureste de México en Mérida, Yucatán. Todo estudiante de preparatoria o universidad entre los 15 y 25 años está invitado a participar en el evento que será el máximo representante del sentimiento juvenil de la Organización de las Naciones Unidas en el sureste de México.
        </p>
    </article>

    <!-- MUN information -->
    <article class="info-div" id="mun-info">
        <h3 class="info-title">
            ¿Qué es un MUN?
        </h3>
        <p class="info-text">
            Un Modelo de Naciones Unidas es una simulación o representación del Sistema de Naciones Unidas en el que participan alumnos de escuelas secundarias, preparatorias o universidades. Los alumnos representan a los delegados de diferentes países e intervienen en debates y negociaciones en los que tratan temas que corresponden a los programas de trabajo de los diferentes órganos y comisiones de las Naciones Unidas.
            <br>
            <br>
            Un Modelo es un evento educativo y cultural en el que los jóvenes que participan, además de capacitarse sobre temas de política internacional y sobre el funcionamiento de Naciones Unidas, adquieren una visión global del mundo en donde desarrollan sus vidas.
            <br>
            <br>
            Para resolver más dudas, puedes entrar a <a target="_blank" rel="noopener noreferrer" href="http://www.cinu.mx/modelos/preguntas-frecuentes/">este link</a> o contactarnos.
        </p>
    </article>

    <!-- UN information -->
    <article class="info-div" id="un-info">
        <h3 class="info-title">
            ¿Qué es la ONU?
        </h3>
        <p class="info-text">
            La Organización de las Naciones Unidas (ONU) es una organización internacional fundada en 1945 tras la Segunda Guerra Mundial por 51 países que se comprometieron a mantener la paz y la seguridad internacional, fomentar entre las naciones relaciones de amistad y promover el progreso social, la mejora del nivel de vida y los Derechos Humanos. Actualmente cuenta con 193 Estados Miembros. 
            <br>
            <br>
            La ONU cuenta con 6 órganos principales y tiene una amplia gama de agencias especializadas y programas que trabajan en cuestiones específicas, como el desarrollo económico y social, la salud, la educación, los derechos humanos y el medio ambiente.
        </p>
    </article>
</section>

<!-- SMMUN editions -->
<section>
    <!-- SMMUN 2025 -->
    <article class="info-div" id="sm-2025-info">
        <h3 class="info-title">
            SMMUN 2025; LEGADO DE LÍDERES
        </h3>
        <p class="info-text">
            ¡PRÓXIMAMENTE!
        </p>
    </article>

    <!-- SMMUN 2024 -->
    {% smmun_edition 2024, "FOR EQUALITY", "#e63b7a", "Trabajando con base en el Objetivo de Desarrollo Sostenible 10, Reducción de las desigualdades, se buscó el impulsar una igualdad sustantiva e interseccional. Un mundo pacífico, justo y sostenible se construye con la participación activa de todas las personas; nuestras delegaciones representan esa ciudadanía que se educa y promueve el bienestar de su comunidad. En esta edición, se conmemora la segunda delegación oficial del SM que participó en un Modelo Internacional: el McMUN en Montreál, Canadá." %}

    <!-- SMMUN 2023 -->
    {% smmun_edition 2023, "FOR DIVERSITY", "#693bd7", "Las sociedades son grandes, cambiantes y diversas. En un mundo altamente relacionado, celebrar la diversidad es necesario; cada persona tiene cualidades propias que benefician la vida en conjunto. Para respetar esta diversidad, se promovió el uso de comités a distancia en modalidad digital; además, fue la primera vez que se recibieron, de manera presencial, delegaciones oficiales de otros países. Además, se conmemora a la primera delegación oficial del SM que fue partícipe de un Modelo Internacional: el FWWMUN en Nueva York, Estados Unidos." %}

    <!-- SMMUN 2022 -->
    {% smmun_edition 2022, "FOR YOUTH", "#38b6ff", "Por primera vez, el Modelo se enfocó en su público objetivo: las juventudes. Buscando dejar atrás el adultocentrismo, se visibilizó el deseo e interés de participar en la política por parte de sus delegaciones. La inclusión de estas juventudes en temas políticos demuestra el compromiso a construir un futuro que responda a las necesidades e intereses de todas las generaciones. Trabajando en conjunto y de manera interseccional, se regresó a debatir bajo la nueva normalidad e impulsó la reapertura de actividades académicas en Mérida." %}

    <!-- SMMUN 2021 -->
    {% smmun_edition 2021, "FOR HEALTH", "#042654", "Aún viviendo una pandemia, el SMMUN procuró darle un espacio de diálogo y entendimiento a las delegaciones interesadas. Contando con participación nacional e internacional en modalidad digital, se brindaron soluciones a aquellas problemáticas que ocurrían en sus espacios de crecimiento. Aún con un futuro incierto ante las contingencias sanitarias, las delegaciones demostraron que es posible mantenerse optimista ante los cambios en nuestra sociedad." %}

    <!-- SMMUN 2020 -->
    {% smmun_edition 2020, "FOR WOMEN", "#84b8fd", "Relacionado principalmente con el Objetivo de Desarrollo Sostenible 5, garantizar la igualdad de género ha representado una meta a lograr en todos los ámbitos. Sin embargo, el desafío de la nueva época es el visibilizar que se debe hablar sobre mujeres desde la pluralidad, ya que es importante mantener una interseccionalidad en sus problemáticas. Las delegaciones, aún a la distancia, aprendieron a trabajar en equipo y a utilizar las herramientas digitales para promover un futuro más inclusivo." %}

    <!-- SMMUN 2019 -->
    {% smmun_edition 2019, "FOR PEACE", "#6f75d5", "La paz es el principio fundacional de la ONU, además de ser el principal objetivo a alcanzar en un mundo que vive en conflicto. Al conocer las diferentes historias, realidades y preocupaciones, nuestras delegaciones entendieron las situaciones que dificultan el alcanzar la paz. Sin embargo, también aprendieron que el diálogo es la mejor herramienta para una vida en armonía y que su voz es importante para lograr un cambio en el mundo." %}

    <!-- SMMUN 2018 -->
    {% smmun_edition 2018, "FOR DEVELOPMENT", "#0097b2", "El desarrollo se define como un proceso continuo y destinado a mejorar la calidad de vida de la ciudadanía. Esta edición permitió a las delegaciones trabajar con cada una de las aristas más importantes del desarrollo: la estabilidad económica, progreso social, protección al medio ambiente, participación política activa e igualdad y justicia en la sociedad.
    <br>
    <br>
    Tener una ciudadanía informada garantiza un correcto desarrollo a futuro y nuestras delegaciones liderarán el cambio." %}

    <!-- SMMUN 2017 -->
    {% smmun_edition 2017, "FOR CHILDREN", "#5ce1e6", "Las infancias son de los grupos mas vulnerables de la población, por lo que se buscó crear conciencia sobre estas problemáticas a lo largo de esta edición, promoviendo sus derechos como el vivir en un mundo libre de violencia, explotación y discriminación, el derecho a la salud y el bienestar, el derecho a una educación de calidad, entre otros." %}

    <!-- SMMUN 2016 -->
    {% smmun_edition 2016, "FOR EDUCATION", "#089cf1", "La educación es un tema fundamental para el desarrollo del SMMUN, ya que es un derecho humano fundamental y un bien público esencial. Todas las infancias, juventudes y adultos, tienen derecho a una educación de calidad que les permita desarrollar todo su potencial y contribuir plenamente a la sociedad.
    <br>
    <br>
    La educación debe ser inclusiva y de calidad para todos. Esto significa que debe adaptarse a las necesidades de todos los estudiantes, independientemente de su origen, género, discapacidad o cualquier otra condición." %}
</section>
