---
title: "Registro - SMMUN"
description: "¡Forma parte del SMMUN! Regístrate en las distintas convocatorias que el SMMUN tiene para tí, y deja tu legado a donde sea que vayas."
layout: "base.njk"
nav_color_mobile: "#6f75d5cf"
---

<!-- Open convocatorias -->
<section>
    <!-- Title -->
    <article id="convocatorias-title">
        <div id="oval">
            <h1>
                Convocatorias
            </h1>
        </div>
    </article>

    <!-- Convocatorias -->
    <article id="convocatorias">
        <div class="convocatoria">
            <a href="/registro-delegaciones">
                <figure>
                    <img src="/assets/img/convocatorias/delegaciones.webp" width="1024" height="1024" alt="Delegaciones del SMMUN.">
                </figure>
            </a>
            <h2><a href="/registro-delegaciones">Delegaciones</a></h2>
            <p>¿Quieres cambiar al mundo? Este es tu lugar</p>
        </div>
        <div class="convocatoria">
            <a href="/registro-faculty">
                <figure>
                    <img src="/" width="1024" height="1024" alt="Staff del SMMUN.">
                </figure>
            </a>
            <h2><a href="/registro-faculty">Faculty</a></h2>
            <p></p>
        </div>
        <div class="convocatoria">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeOeD_QRVnQkeZk8SlzDmNoIuuC1gf3e7WyDj1ylHg8ouzbgw/viewform">
                <figure>
                    <img src="/assets/img/convocatorias/staff.webp" width="1024" height="1024" alt="Staff del SMMUN.">
                </figure>
            </a>
            <h2><a href="https://docs.google.com/forms/d/e/1FAIpQLSeOeD_QRVnQkeZk8SlzDmNoIuuC1gf3e7WyDj1ylHg8ouzbgw/viewform">Staff</a></h2>
            <p>¡Sé parte del cambio!</p>
        </div>
    </article>
</section>
