---
title: "Registro - SMMUN"
description: "¡Forma parte del SMMUN! Regístrate en las distintas convocatorias que el SMMUN tiene para tí, y deja tu legado a donde sea que vayas."
layout: "base.njk"
nav_color_mobile: "#6f75d5cf"
---

<!-- Open convocatorias -->
<section>
    <!-- Title -->
    <article id="convocatorias-title">
        <div id="oval">
            <h1>
                Convocatorias
            </h1>
        </div>
    </article>

    <!-- Convocatorias -->
    <article id="convocatorias">
        <div class="convocatoria">
            <a href="/registro-delegaciones">
                <figure>
                    <img src="/assets/img/convocatorias/mesas.webp" width="1024" height="1024" alt="">
                </figure>
            </a>
            <h2><a href="/registro-delegaciones">Delegaciones</a></h2>
            <p>Representa un país en el SMMUN</p>
        </div>
        <div class="convocatoria">
            <a href="#">
                <figure>
                    <img src="/assets/img/convocatorias/internacional.webp" width="1024" height="1024" alt="" id="imagen-staff">
                </figure>
            </a>
            <h2><a href="#">Staff</a></h2>
            <p>Próximamente...</p>
        </div>
    </article>
</section>
