@media screen and (min-width: 820px) {
    #dot-progress {
        position: fixed;
        top: 56%;
        transform: translateY(-56%);
        right: 1vw;
        display: flex;
        flex-direction: column;
    }

    .dot {
        height: 1.5vh;
        width: 1.5vh;
        margin: 1vh 0;
        background-color: #053a80;
        border-radius: 50%;
        display: inline-block;
    }
}

@media screen and (max-width: 820px) {
    #dot-progress {
        display: none;
    }
}
