@font-face {
    font-family: "Glacial Indifference Regular";
    src: url("/assets/fonts/GlacialIndifference-Regular.woff2");
}

@font-face {
    font-family: "Glacial Indifference Italic";
    src: url("/assets/fonts/GlacialIndifference-Italic.woff2");
}

@font-face {
    font-family: "Glacial Indifference Bold";
    src: url("/assets/fonts/GlacialIndifference-Bold.woff2");
}

@font-face {
    font-family: "The Seasons Regular";
    src: url("/assets/fonts/TheSeasons-Regular.woff2");
}

@font-face {
    font-family: "The Seasons Bold";
    src: url("/assets/fonts/TheSeasons-Bold.woff2");
}
