@media screen and (min-width: 600px) {
    #navbar-mobile {
        display: none;
    }

    nav {
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        z-index: 1;
        padding: 5vh 0;
    }

    #navbar-logo {
        z-index: 2;
        padding-right: 2vw;
        display: none;
    }

    #navbar-logo img {
        height: 9vh;
    }

    .nav-transparent {
        background-color: transparent !important;
        transition: background-color 200ms linear;
    }

    .nav-colored {
        background-color: white !important;
        background-image: url("../assets/blue_bg.png");
        background-repeat: repeat;
        background-size: cover;
        transition: background-color 200ms linear;
        padding: 2vh 0;
    }

    nav button {
        cursor: pointer;
        background-color: #8b59d6;
        border-color: transparent;
        border-radius: 24px;
        font-family: "Glacial Indifference Bold";
        font-size: 1rem;
        color: #fffdfd;
        min-width: 13vw;
        min-height: 8vh;
        width: fit-content;
        height: fit-content;
    }

    .inactive button{
        opacity: 0.63;
    }

    nav button:hover {
        opacity: 0.8;
    }
}

@media screen and (max-width: 600px) {
    #navbar {
        display: none;
    }

    nav {
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        z-index: 1;
        padding: 1vh 0;
        width: 100%;
    }

    #navbar-logo-mobile {
        z-index: 2;
        padding: 1vh 0 1vh 5vw;
        opacity: 0;
    }

    #navbar-logo-mobile img {
        height: 6vh;
    }

    .nav-transparent {
        background-color: transparent !important;
        transition: background-color 200ms linear;
    }

    .nav-colored {
        background-color: white !important;
        background-image: url("../assets/blue_bg.png");
        background-repeat: repeat;
        background-size: cover;
        transition: background-color 200ms linear;
    }

    nav ul {
        z-index: 3;
        padding: 0;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #fffdfd;
    }

    #nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        width: 100%;
        border-radius: 24px;
        text-align: center;
        transition: 0.3s;
        background-color: #fffdfd;
        background-image: url("../assets/blue_bg.png");
        background-repeat: repeat;
        background-size: cover;
    }

    .nav-item {
        margin: 2.5rem 0;
        list-style: none;
        width: 100%;
    }

    .nav-item a {
        font-family: "Glacial Indifference Bold";
        font-size: 1.6rem;
        color: #fffdfd;
        text-decoration: none;
        display: block;
    }

    #nav-menu.active {
        left: 0;
    }

    #hamburger {
        display: block;
        cursor: pointer;
        padding: 1vh 5vw 1vh 0;
    }

    #hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    #hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    #hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}
