@font-face {
    font-family: "Glacial Indifference Regular";
    src: url("../fonts/GlacialIndifference-Regular.ttf");
}

@font-face {
    font-family: "Glacial Indifference Italic";
    src: url("../fonts/GlacialIndifference-Italic.otf");
}

@font-face {
    font-family: "Glacial Indifference Bold";
    src: url("../fonts/GlacialIndifference-Bold.ttf");
}

@font-face {
    font-family: "The Seasons Regular";
    src: url("../fonts/The\ Seasons\ Regular.ttf");
}

@font-face {
    font-family: "The Seasons Bold";
    src: url("../fonts/The\ Seasons\ Bold.ttf");
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: clamp(12px, 2vw, 24px);
}

body {
    background-image: url("../assets/bg.png");
    background-repeat: repeat;
    background-size: cover; 
}
