p{
    color: white;
}

h1 {
    color: rgb(92, 154, 190);
    font-weight: bold; 
    font-family: 'Helvetica Neue', sans-serif;
}

h2 {
    color: rgb(92, 154, 190);
    font-weight: bold; 
    font-family: 'Helvetica Neue', sans-serif;
}

h1.model {
    color: rgb(197, 155, 87);
}