div.gallery {
    display: block;
    margin: 5px;
    float: left;
    width: 300px;
  }
  
div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  display: block;
  width: 80%;
  height: auto;
}

div.desc {
  padding: 20px;
  text-align: center;
}

div.newGallery{
  display: block;
  margin: auto; 
  min-width: 500px; 
  width: 1240px; 
  padding-top: 50px ; 
  padding-bottom: 0; 
  height: 475px;
}

p{
    color: white;
}

h1 {
    color: rgb(92, 154, 190);
    font-weight: bold; 
    font-family: 'Helvetica Neue', sans-serif;
}

h2 {
    color: rgb(92, 154, 190);
    font-weight: bold; 
    font-family: 'Helvetica Neue', sans-serif;
}

h3 {
    color: rgb(92, 154, 190);
    font-weight: bold; 
    font-family: 'Helvetica Neue', sans-serif;
}

h1.model {
    color: rgb(197, 155, 87);
}

h2.name{
    font-size: 1.6em;
    color: rgb(197, 155, 87);
}

h3.poss {
    font-size: 1.2em;
    color: white;
}

div.carousel-item {
    height: 400px;
}