div.gallery {
    display: block;
    margin: 5px;
    float: left;
    width: 300px;
  }
  
div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  display: block;
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.newGallery{
  display: block;
  margin: auto; 
  min-width: 500px; 
  width: 1240px; 
  padding-top: 50px ; 
  padding-bottom: 100px; 
  height: 475px;
}

p{
    color: white;
}

h1 {
    color: rgb(92, 154, 190);
    font-weight: bold; 
    font-family: 'Helvetica Neue', sans-serif;
}

h2 {
    color: rgb(92, 154, 190);
    font-weight: bold; 
    font-family: 'Helvetica Neue', sans-serif;
}

h2.model {
  text-align: center;
  color: rgb(197, 155, 87);
  font-weight: bold; 
  font-family: 'Helvetica Neue', sans-serif;
}

h1.model {
    color: rgb(197, 155, 87);
}

ul#secreatariat{
  margin: auto;
  list-style: none;
  columns: 3;
  width: 60%;
  min-width: 800px;
}
ul  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 20px;
}