h2{
    margin: 0;
    text-align: center;
    color: rgb(255, 255, 255); 
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold; 
    letter-spacing: -1px;
    padding-top: 5px;
}

h1{
    margin: 0;
    text-align: center;
    color: rgb(255, 255, 255); 
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold; 
    letter-spacing: -1px;
}

h1.committee{
    margin: 0;
    text-align: center;
    color: rgb(255, 255, 255); 
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold; 
    letter-spacing: -1px;
    font-size: 145%;
}

div.group {
    width: 100%; height: 300px;
    background: rgba(249, 213, 156);
}

div.committee-left{
    float: left; 
    margin-left: 15%;
    /* margin-right: 5%; */
    width: 30%;
}

div.committee-rigth{
    float: right; 
    margin-right: 15%;
    /* margin-left: 5%; */
    width: 30%;
}

div.committee-middle{
    margin: auto;
    width: 30%;
    padding-bottom: 5em;
    
}

img.committee{
    height: 15em;
    display: block;
    margin: auto;
    padding-top: 5em;
}