.carouselitem {
    font-size: 30px;
    background-color: rgba(100,204,200, 0.6);
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 25px;
}

.carouselitem:hover{
    background-color: rgba(100,204,200, 1);
}

.aboutSection {
    width: 80%;
    margin: auto;
}

a.ins {
    font-size: 25px;
    font-weight: bold;
}