.carouselitem {
    font-size: 30px;
    background: rgb(231,113,153);
background: linear-gradient(90deg, rgba(231,113,153,0.5) 0%, rgba(233,136,248,0.5) 33%, rgba(195,134,248,0.5) 66%, rgba(115,122,243,0.5) 100%);padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 25px;
}

.carouselitem:hover{
    background: rgb(231,113,153);
background: linear-gradient(90deg, rgba(231,113,153,0.75) 0%, rgba(233,136,248,0.75) 33%, rgba(195,134,248,0.75) 66%, rgba(115,122,243,0.75) 100%);
}

.aboutSection {
    width: 80%;
    margin: auto;
}

a.ins {
    font-size: 25px;
    font-weight: bold;
}
